<%- include ("includes/header") %>

<section>
	<div class="gap gray-bg" >
		<div class="container-fluid" style="padding-top: 20px;">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">
							<%- include ("includes/left-sidebar") %>
							<%- include ("includes/social-link") %>
						</div>

						<div class="col-md-6">

							<div id="add-post-box"></div>

							<div class="loadMore" id="newsfeed">

							</div>
						</div>

						<div class="col-md-3">
							<%- include ("includes/right-sidebar") %>
							<%- include ("includes/friends-widget") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




<%- include ("includes/footer") %>